$c-main: rgb(99, 70, 16);
$b-main: rgb(255, 246, 235);
$pr-color: burlywood;


body{
    background-color: $b-main;
}

.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}


.product-title{
    width: 45%;
}

.price{
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity{
    width: 30%;
    display: flex;
    align-items: center;
}

.total{
    width: 10%;
    display: flex;
    align-items: center;
}

.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img{
    width: 75px;
}

.basketTotalTitle{
    width: 30%;
}

.basketTotal{
    width: 10%;
}

.go-back{
    text-decoration: none;
    color: $c-main;
}
.go-back:visited{
    text-decoration: none;
    color: $c-main;
}